/*html { 
  background: url(../images/food.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
/* alignment */
.vert {
  vertical-align: middle;
  width:100%;
  padding-top:4%;
  text-align:center;
}
/* Fonts */
p.largeFont{
	font-size:15vh;
}
p.regularFont{
	font-size:5vh;
}
p.smallFont{
	font-size:2vh;
}
p.skinnyText{
	font-weight: 100;
}
p.inline{
	display:inline;
}
.normalText{
	font-weight: 300;
}
/* color */
.themeColor{
	background: white; /* Old browsers */
	/*
	background: url('../images/tree.jpg') no-repeat center center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}

.jumbotron{
height: 50vh;
}

.navbar {
    margin-bottom: 0;
    border:0;
    opacity: 0.8; /* opacity [0-1] */
}
/* Skills page */
.text-center{
	text-align:center;
}
.featurette-item {
  margin-bottom: 5vh;
}

.featurette-item > i {
  border: 0.5vh solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 10vh;
  width: 20vh;
  height: 20vh;;
  line-height: 20vh;
  vertical-align: middle; 
  text-align: center;
}

.featurette-item > i:hover {
  font-size: 15vh;
}

.skillsPage{
  background: #222334;
  padding: 10vh 0;
  color: #ffffff;
}
/* Subprojects */
#me294{
    background: url(../images/prosthetic1.svg) no-repeat center center;
  background-size: 50% 50%;
}
#bioe374{
	
    background: url(../images/xray1.svg) no-repeat center center;
  background-size: 50% 50%;
  background-color:red;
}
#me382{
		background-image: url('../images/projBone.jpg');
    background: url(../images/cells1.svg) no-repeat center center;
  background-size: 50% 50%;
}
#cs235{
  background-image: url('../images/projChessRobot.jpg');
  background: url(../images/robot1.svg) no-repeat center center;
  background-size: 50% 50%;
}

#me210{
		background-image: url('../images/projSumobot.jpg');
  background: url(../images/battle1.svg) no-repeat center center;
  background-size: 50% 50%;
}
#iosProx{
		background-image: url('../images/projProximity.png');
    background: url(../images/prox1.svg) no-repeat center center;
  background-size: 50% 50%;
}
#iosInsoles{
		background-image: url('../images/projSmartinsoles.jpg');
  background: url(../images/insoles1.svg) no-repeat center center;
  background-size: 50% 50%;
}
#iosInsoles2{
		background-image: url('../images/projInsoles.jpg');
  background: url(../images/phone1.svg) no-repeat center center;
  background-size: 50% 50%;
}
#projPiano{
		background-image: url('../images/projPiano.jpg');
  background: url(../images/piano1.svg) no-repeat center center;
  background-size: 50% 50%;
}
/* columns of same height styles */

.row-full-height {
  height: 100vh;
}
.col-full-height {
  height: 30vh;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100vw;
  /* fix overflow */
  table-layout: fixed;
}

#me294:hover{
background-color:blue;
}
#bioe374:hover{
	background-image: url('../images/projBiodesign.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* content styles */

.item {
  display: table;
}
.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}