/* Fonts */
p.largeFont{
  font-size:20vh;
}
p.headerFont{
  font-size:10vh;
}
p.regularFont{
  font-size:4vh;
}
p.smallFont{
  font-size:3vh;
}
p.skinnyText{
  font-weight: 100;
}
p.inline{
  display:inline;
}
p.normalText{
  font-weight: 300;
}
p.boldText{
  font-weight: 700;
}

/* Subprojects */
#me294{
    background: url(../images/prosthetic1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* yellow */
background-color:#FDFD96;
}
#bioe374{
	
    background: url(../images/xray1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* red */
  background-color:#FF6961;
}
#me382{
		background-image: url('../images/projBone.jpg');
    background: url(../images/cells1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* green */
  background-color:#77DD77;
}
#cs235{
  background-image: url('../images/projChessRobot.jpg');
  background: url(../images/robot1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* orange */
  background-color: #FFB347;
}

#me210{
		background-image: url('../images/projSumobot.jpg');
  background: url(../images/battle1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* pink */
  background-color: #DEA5A4;
}
#iosProx{
		background-image: url('../images/projProximity.png');
    background: url(../images/prox1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* blue */
  background-color: #AEC6CF;
}
#iosInsoles{
		background-image: url('../images/projSmartinsoles.jpg');
  background: url(../images/insoles1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* violet */
  background-color: #CB99C9;
}
#iosInsoles2{
		background-image: url('../images/projInsoles.jpg');
  background: url(../images/phone1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* grey */
  background-color: #CFCFC4;
}
#projPiano{
		background-image: url('../images/projPiano.jpg');
  background: url(../images/piano1.svg) no-repeat center center;
  background-size: 50% 50%;
  /* dark blue */
  background-color: #779ECB;
}
/* columns of same height styles */

.row-full-height {
  height: 100vh;
}
.col-full-height {
  height: 34vh;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.projectBlock figcaption {
	background: rgba(0,0,0,0.8);
	color: black;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;

	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

#me294:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#cs235:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#bioe374:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#projPiano:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#me210:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#me382:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#iosProx:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#iosInsoles:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#iosInsoles2:hover figcaption{
	opacity:1;
	background-color:rgba(255,255,255,0.95);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
