	<hr>

	<div class="featurette-clear grey-back" id="prox">
		<div class="col-sm-12 text-center">
			<h1>Stanford Biodesign Project</h1>
		</div>

		<div class="row">

			<div class="col-sm-8">
				<p class ="largeFont">
					Need: To find a friend in a crowded area. We've all been there where 
					you're trying to find your friend or group through a crowd of people.
					For instance, at a concert recently, I tried texting/calling my friend to try to get their location to meet up. 
					However, trying to listen over the loud music just to hear that he was "next to the speakers" was not helpful at all.
					As such, we built Proximity as a way to address this unmet need. 
				</p>
				<p class = "largeFont">
					During the SalesForce Hackathon, I built the iOS app using Swift. I was able to build an app that could stream directionality and relative distance data amongst multiple phones just through bluetooth.  
				</p>
				<a href = "http://prox-imity-app.appspot.com"><h3 class = "linkText">Link to Proximity</h3></a>
			</div>
			<div class="col-sm-4">
			<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/projBiodesign.jpg" alt="biodesignProject" style="width:260px;height:200px">
			</div>
		</div>
	</div>
