	<hr>

	<div class="featurette-clear grey-back" id="biodesign">
		<div class="col-sm-12 text-center">
			<h1>Stanford Biodesign Project</h1>
		</div>

		<div class="row">

			<div class="col-sm-8">
				<p class ="largeFont">

				</p>
				<p class = "largeFont">
 
				</p>

			</div>
			<div class="col-sm-4">
			<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/projBiodesign.jpg" alt="biodesignProject" class = "projPicture">
						<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/biodesignGroup.jpg" alt="biodesignProject" class = "projPicture">
			</div>
		</div>
	</div>
