	<hr>
	<div class="featurette-clear grey-back" id="biodesign">
		<div class="col-sm-12 text-center">
			<h1>Stanford Biodesign Project</h1>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<p class ="largeFont">
					Need: Osteomyelitis(OM) is inflammation or infection in the bone marrow and surrounding bone. It is notoriously difficult to treat and typically requires multiple debridement operations and a six to eight week course of intravenous antibiotics. Despite these aggressive treatments recurrence rates are high and approximately 30% of patients go on to develop chronic OM. Mortality is as high as 10% in some studies.  As such, there needs to be a way to decrease bacterial load in patients surgically treated for osteomyelitis to reduce infection recurrence rates significantly.

				</p>
				<p class = "largeFont">
					Our team developed OsteoSight, an user-friendly method of real-time visualization of bacterial infection in the bone. This gives surgeons the ability to truly discriminate viable from nonviable bone. We designed a system to first dye infected bone and utilize image processing techniques to identify areas of infection. The 2 quarter course took us from needs finding, conducting market analysis, building a business plan, and developing a funcitonal initial prototype in Matlab. This Biodesign project was extremely great in mixing us up with not only other graduate engineering students, but medical and business school students as well. Overall, it was a great crash course in the medical device development cycle and how each component, such as regulatory and reimbursement, impacts the development of the device from the very beginning. 
				</p>
			</div>
			<div class="col-sm-4">
				<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/projBiodesign.jpg" alt="biodesignProject" class = "projPicture">
				<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/biodesignGroup.jpg" alt="biodesignProject" class = "projPicture">
			</div>
		</div>
	</div>
