	<hr>
	<div class="featurette-clear grey-back" id="chessRobot">
		<div class="col-sm-12 text-center">
			<h1>Stanford Robotics Project</h1>
		</div>

		<div class="row">

			<div class="col-sm-8">
				<p class ="largeFont">
					For our Robotics class CS 235, we had to build a robot arm that could move chess peices on a standard chess board. We had 3 weeks to design, build, and test the robot arm, which led to many long nights (but totally worth it!). From our brainstorms, we decided to develop a SCARA arm, which would allow us to reach every square on the chess board and pick up any peice we selected. The robot arm was split into smaller subunits - the gripper (to hold the peice), the Z-axis component(for peice pickup), the base, and the arm pivots (for XY axes movement).
				</p>
				<p class = "largeFont">
					Each subunit was designed in Solidworks and its functionality was tested as a full assembly. Each subunit was made up of several laser cut peices of plywood aligned with dowel pins and connected with screws. We used Phidget motors (a plug and play system) to control our robot and created a simple GUI to tell our robot to pick up and drop off any chess peice on the chess board. Overall, it was an awesome experience prototyping, iterating and testing the robot arm and being able to build the entire robot from nothing in just 3 weeks.  
				</p>
			</div>
			<div class="col-sm-4">
				<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/projChessRobot.jpg" alt="biodesignProject" class = "projPicture">
				<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/demoBot.jpg" alt="biodesignProject" class = "projPicture">
			</div>
		</div>
	</div>
