	<hr>
	<div class="featurette-clear grey-back" id="flappyBird">
		<div class="col-sm-12 text-center">
			<h1>Maker's Faire Project</h1>
		</div>

		<div class="row">

			<div class="col-sm-8">
				<p class ="largeFont">
                 What's more challenging than playing the notorious game flappy bird? A: Playing flappy bird just by using your feet!
                 				</p>
				<p class = "largeFont">
					During the SalesForce Hackathon, I built the iOS app using Swift. I was able to build an app that could stream directionality and relative distance data amongst multiple phones just through bluetooth.  
				</p>
				<a href = "http://prox-imity-app.appspot.com"><h3 class = "linkText">Link to Proximity</h3></a>
			</div>
			<div class="col-sm-4">
			<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/makersfaire.jpg" alt="biodesignProject" class = "projPicture">
			</div>
		</div>
	</div>
