	<hr>
	<div class="featurette-clear grey-back" id="medDevice">
		<div class="col-sm-12 text-center">
			<h1>Stanford Medical Device R&D Project</h1>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/projBone.jpg" alt="biodesignProject" class = "projPicture">
				<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/boneGroup.jpg" alt="biodesignProject" class = "projPicture">
			</div>
			<div class="col-sm-8">
				<p class ="largeFont">
					Need: Bone grafts are used in approximately 2.2 million orthopaedic surgeries annually. Currently available sources of bone graft include the patient’s own bone harvested from the iliac crest (autograft) or cadaver tissue (allograft). Both of these techniques have significant drawbacks. In the last two decades synthetic materials have emerged as a potential alternative to autografts and allografts. We set out to develop a synthetic bone void filler (for long bone defects) that could support load bearing mechanical stresses as well as promote proper vascularization for bone cell proliferation.
				</p>
				<p class = "largeFont">
					The project involved developing a CAD rendering of the bone scaffold and analyzing stresses using Finite Element Analysis. Once the scaffold was chosen, we fabricated the bone scaffolds using a mixture of tricalcium phosphate and hydroxyapatite (for compressive strength) infused with calcium peroxide (which produces oxygen in the presence of water). We then conducted in vitro tests by implanting the scaffold with live bone cells and measuring cell survival rates with respect to levels of infused calcium peroxide. Our 2 quarter project presented the feasibility of creating a synthetic bone void filler that would enable natural vascuarlization and bone growth. Our findings were passed on to our mentor Dr. Yang and his orthopedic surgery lab. 
				</p>

			</div>

		</div>
	</div>
