	<hr>
	<div class="featurette-clear grey-back" id="chessRobot">
		<div class="col-sm-12 text-center">
			<h1>Stanford Robotics Project</h1>
		</div>

		<div class="row">

			<div class="col-sm-8">
				<p class ="largeFont">
					For our Robotics class CS 235, we had to build a robot arm that could move chess peices on a standard chess board. We had 3 weeks to design, build, and test the robot arm, which led to many long nights and early mornings (but totally worth it!). 
				</p>
				<p class = "largeFont">
					
				</p>
			</div>
			<div class="col-sm-4">
				<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/projSplitHook.jpg" alt="biodesignProject" class = "projPicture">
			</div>
		</div>
	</div>
