<hr>
<div class="featurette-clear grey-back" id="chessRobot">
	<div class="col-sm-12 text-center">
		<h1>Stanford Medical Device Project</h1>
	</div>

	<div class="row">

		<div class="col-sm-8">
			<p class ="largeFont">
				For our medical device course, ME 294L, we build an adjustable force split hook prosthetic. During this project we talked with many prosthetists, and one common theme of being able to adjust the force of your prostetic arm by yourself kept coming up. Currently, to add force to a prosthetic arm, you have to bring your prostethic into the doctor's office and an industrial grade rubber band would be stretched and added to the prosthetic. As such, reducing the force would mean taking off the rubber band. 
			</p>
			<p class ="largeFont">
				We set out to enable the amputee to adjust their own prostethic arm without having to go into the doctor's office. With ease of use in mind, we developed a way to adjust the force applied by switching to spring based system and allowing the end user to adjust the force by just using one hand. We designed the prosthetic in Solidworks and 3D printed a functional prototye. Overall, it was a humbling and great experience during needs finding to try to emulate just a portion of the pain points of the end user on ourselves, which drove us to design a patient centric device. 
			</p>
		</div>
		<div class="col-sm-4">
			<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/projSplitHook.jpg" alt="biodesignProject" class = "projPicture">
		</div>
	</div>
</div>
