<div class="featurette-clear grey-back" id="prox">
	<div class="col-sm-12 text-center">
		<h1>Proximity iOS App</h1>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/proxprize.jpg" alt="proximityapp" class = "projPicture">
			<img src="https://s3-us-west-1.amazonaws.com/picturesalxyee/images/projProximity.png" alt="proximityapp" class = "projPicture">
		</div>
		<div class="col-sm-8">
			<p class ="largeFont">
				Need: To find a friend in a crowded area. We've all been there where 
				you're trying to find your friend or group through a crowd of people.
				For instance, at a concert recently, I tried texting/calling my friend to try to get their location to meet up. 
				However, trying to listen over the loud music just to hear that he was "next to the speakers" was not helpful at all.
				There has got to be a better way...if not, we should build it!
			</p>
			<p class = "largeFont">
				During the SalesForce Hackathon, I built the iOS app from scratch using Apple's new programming language, Swift. The app could stream directionality and relative distance data, and allow for chat amongst multiple phones (we tested with 5 iPhones) just through bluetooth. 
			</p>
			<p class = "largeFont">
				There are endless use cases for ad hoc meshed networks that allow for off the grid communication as well as microlocation abilities. As such, we are hard at work to get this app out for all to use!
			</p>
			<a href = "http://prox-imity-app.appspot.com"><h3 class = "linkText">Link to Proximity</h3></a>
		</div>
	</div>
</div>
