<div class="featurette-orange">
	<div class="col-sm-12 text-center">
		<h1>About Me</h1>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-1">
			<h4 class = "narrow">
				Hi, I'm Alex Yee, a bioengineer, working in the medical device industry in San Francisco.  As a bioengineer, I'm always looking to draw parallels in seemingly different fields, and to use technology as a tool to improving human health. Over the years, I've been fortunate enough to be able to work on a wide variety of interesting projects with many great interdisciplinary teams - spanning software, hardware, and health. 
			</h4>
			<h4 class = "narrow">
				A little bit about my journey the past year: I'm a firm believer that you should never stop learning and working a little by little each day can really add up to a lot! I started learning mobile development (Objective-C) in December 2013. Over the course of the year, I poured through tutorials and lectures (Stanford CS 193P free iTunes class) and taught myself about the new Bluetooth Low Energy protocol. 
			</h4>
			<h4 class = "narrow">
				There were definitely times where I wondered why I bought bluetooth dev kits and if I would ever use what I'm learning. However, I'm glad I stuck with it. I joined 3 hackathons (the very first I've ever been to) in 2014 and was able to immediately apply what I learned. Looking back, those long hours spent struggling learning by doing were completely worth it - starting out in Dec 2013 not knowing what object oriented programming was to building an entire app in Swift that won 1st place at the Salesforce $1MM hackathon in Oct 2014.   	 
			</h4>
			<h4 class = "narrow">
				As such, I'm very greatful to have learned a tremendous amount from the open source community and am currently working on creating step by step instructions for some of my projects to help others who are just starting out (as it was me not too long ago!). If you would like to work on a project together or are just starting out and have some questions, please feel free to contact me.
			</h4>
			<h4 class = "narrow">
				Contact info: alxyee1@gmail.com
			</h4>
			<h6>
				This website was created using Django, Bootstrap, and hosted on AWS elastic beanstalk.
			</h6>
		</div>
		<div class = "col-sm-2">
			<img src='https://s3-us-west-1.amazonaws.com/consanomedstaticfiles/images/Alex.jpg' alt="alexPic View" class = "alexPicture">
		</div>
	</div>
</div>
