<div class="featurette-orange">
	<div class="col-sm-12 text-center">
		<h1>About Me</h1>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-1">
			<h4 class = "narrow">
				Hi, I'm Alex Yee, a bioengineer, working in the medical device industry in San Francisco.  As a bioengineer, I'm always looking to draw parallels in seemingly different fields, and to use technology as a tool to improving human health. Over the years, I've been fortunate enough to be able to work on a wide variety of interesting projects with many great interdisciplinary teams - spanning software, hardware, and health. 
			</h4>
			<h4 class = "narrow">
				A little bit about my journey the past year: I'm a firm believer that you should never stop learning and working a little by little each day can really add up to a lot! Here are some of my most recent projects:
			</h4>
		</div>
		<div class = "col-sm-2">
			<img src='https://s3-us-west-1.amazonaws.com/consanomedstaticfiles/images/Alex.jpg' alt="alexPic View" class = "alexPicture">
		</div>
	</div>
</div>
