
<div class="featurette-clear whiteText" id = "Experience">
	<div class="col-sm-12 grey-back">
		<h1 class = "text-center">Experience</h1>
		<h4>Principal Engineer, R&D at Potrero Medical (2014-Present)</h4>
		<h4>Design Engineer at Theranova, LLC (2013-2014)</h4>
		<h4>Manufacturing & Science Technology Intern at Genentech(Summer 2010)</h4>
	</div>
</div>
<div>
	<div class="col-sm-12" id="featured">   
		<div class="page-break">
		</div> 
	</div>
	<h1 class ="whiteText text-center">Projects (detailed)</h1>
</div>
<hr>