
<div class="container-fluid">
 <div class="row">
  <div class="row-same-height row-full-height">
    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me294">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "cs235">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "bioe374">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me382">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>

        <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me210">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>

        <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosProx">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>

        <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosInsoles">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>

        <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "projPiano">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>

        <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosInsoles2">
      <div class="item">
        <div class="content">
          <p>this is height</p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>