
<div class="container-fluid">
 <div class="row">
  <div class="row-same-height row-full-height">
    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me294">
      <div class = "text-center">
        <p class = "regularFont"> Adjustable Force Prosthetic</p>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "cs235">
      <div class = "text-center">
        <p class = "regularFont"> Chess Playing Robot Arm</p>
      </div>
    </div>
    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "bioe374">
      <div class = "text-center">
        <p class = "regularFont"> Osteomyelitis Detector</p>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me382">
      <div class = "text-center">
        <p class = "regularFont">Long Bone Scaffold</p>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me210">
      <div class = "text-center">
        <p class = "regularFont">Sumo Wresting Robot</p>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosProx">
      <div class = "text-center">
        <p class = "regularFont">Proximity iOS App</p>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosInsoles">
      <div class = "text-center">
        <p class = "regularFont">Smart Insoles</p>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "projPiano">
      <div class = "text-center">
        <p class = "regularFont">Paper Piano</p>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosInsoles2">
      <div class = "text-center">
        <p class = "regularFont">Hardware Wearable</p>
      </div>
    </div>

  </div>
</div>
</div>