
<div class="container-fluid">
<p class = "headerFont normalText "> Projects </p>
 <div class="row">
  <div class="row-same-height row-full-height">
      <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosProx">
      <div class = "text-center">
        <p class = "regularFont">Proximity iOS App</p>
        <figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>
        <p class = "bottomText smallFont">Software</p>
      </div>
    </div>


    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "cs235">
      <div class = "text-center">
        <p class = "regularFont"> Chess Playing Robot Arm</p>
        <figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>
                <p class = "bottomText smallFont">Software | Hardware</p>
      </div>
    </div>
    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "bioe374">
      <div class = "text-center">
        <p class = "regularFont"> Osteomyelitis Detector</p>
        <figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me382">
      <div class = "text-center">
        <p class = "regularFont">Long Bone Scaffold</p>
                <figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me210">
      <div class = "text-center">
        <p class = "regularFont">Sumo Wresting Robot</p>
                <figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>
      </div>
    </div>
    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "me294">
      <div class = "text-center">
        <p class = "regularFont"> Adjustable Force Prosthetic</p>

<figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>

      </div>
    </div>
    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosInsoles">
      <div class = "text-center">
        <p class = "regularFont">Smart Insoles</p>
                <figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "projPiano">
      <div class = "text-center">
        <p class = "regularFont">Paper Piano</p>
                <figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>
      </div>
    </div>

    <div class="col-xs-4 col-xs-height col-full-height projectBlock", id = "iosInsoles2">
      <div class = "text-center">
        <p class = "regularFont">Hardware Wearable</p>
                <figcaption><p class= "text-center regularFont">Eiffel Tower</p></figcaption>
      </div>
    </div>

  </div>
</div>
</div>