<!-- sidebar -->
<div class="column col-sm-12 projectDisplay" id="sidebar">
  <h1> Alex Yee </h1>
  <ul class="nav">
    <div class="col-sm-3 col-sm-offset-1">
    <a href="#Projects"><h4>     Projects</h4></a>
    <a href="#Skills"><h4>Skills</h4></a>
    <a href="#Experience"><h4>Experience</h4></a>
      </div>
  </ul>

<hr>  

  <div class="col-sm-1 col-sm-offset-3">
    <img src="http://upload.wikimedia.org/wikipedia/en/thumb/b/b7/Stanford_University_seal_2003.svg/250px-Stanford_University_seal_2003.svg.png" alt="masters" style="width:100px;height:100px">
  </div>
  <div class = "col-sm-12">
    <h4>M.S., Bioengineering</h4>
<h5>Stanford University (2013)</h5>
  </div>
  <div class="col-sm-1 col-sm-offset-3">
    <img src="http://upload.wikimedia.org/wikipedia/en/thumb/4/42/UCSD_Seal.svg/1024px-UCSD_Seal.svg.png" alt="bachelors" style="width:100px;height:100px">
  </div>
  <div class = "col-sm-12">
    <h4>B.S., Bioengineering</h4>
    <h5>University of California, San Diego (2011)</h5>
  </div>
      <div class="col-md-12">
        <h1 class="text-center">
      <a href="https://www.linkedin.com/in/alexyee1"><i class="fa fa-linkedin-square socialLinks"></i></a>
      <a href="https://github.com/alxyee"><i class="fa fa-github-square socialLinks"></i></a>
      <a href="#Projects"><i class="fa fa-google-plus-square socialLinks"></i></i></a>
        </h1>
      </div>

</div>

<!-- /sidebar -->