<div class="featurette-white blackText" id="Skills">
	<div class="col-sm-12" id="featured">   
		<div class="page-header text-muted text-center">
			<h3>
				Skills (Detailed)
			</h3>
		</div> 
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1 text-center">
			<div class="featurette-item-skills">
				<i class="fa fa-code text-center"><h2>Software</h2></i>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="featurette-item-skills text-center">
				<i class="fa fa-mobile"></i>
				<h4> Objective-C, BLE, Swift, iBeacon,  sensor fusion </h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="featurette-item-skills text-center">
				<i class="fa fa-laptop"></i>
				<h4> Embedded C, C++, Arduino, Matlab, Python, Ruby on Rails, jQuery, CSS/HTML, Java, AWS, Git </h4>
			</div>
		</div>

		<div class="col-sm-12" id="featured">   
			<div class="page-break">
			</div> 
		</div>
		<div class="col-sm-3 col-sm-offset-1 text-center">
			<div class="featurette-item-skills">
				<i class="fa fa-cogs text-center"><h2>Hardware</h2></i>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="featurette-item-skills text-center">
				<i class="fa fa-bolt"></i>
				<h4>Altium, Labview, PCB Layout, Data Transfer (UART, I2C, SPI, SD card, BLE),  Signal Processing, MCU Software, Soldering </h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="featurette-item-skills text-center">
				<i class="fa fa-gavel"></i>
				<h4> Solidworks, 3D Printing, Laser Cutting, Silicone Molding, Fixturing, Machine Shop (i.e. mill, lathe, etc.) </h4>
			</div>
		</div>

		<div class="col-sm-12" id="featured">   
			<div class="page-break">
			</div> 
		</div>
		<div class="col-sm-3 col-sm-offset-1 text-center">
			<div class="featurette-item-skills">
				<i class="fa fa-heartbeat text-center"><h2>Health</h2></i>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="featurette-item-skills text-center">
				<i class="fa fa-plus-square"></i>
				<h4> Medical Devices: implantable glucose sensor (Perikinetics - Theranova), smart urinary catheter (Potrero Medical), vibrating hip pack (Mimmetix)  </h4>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="featurette-item-skills text-center">
				<i class="fa fa-flask"></i>
				<h4>Cell Cloning, PCR, Chromatography, Distillation, Spectrophotometry, Titration</h4>
			</div>
		</div>
	</div>
</div>
