<div class="featurette">
<div class="col-sm-12 text-center">
		<h1>Full-stack bioengineer</h1>
	</div>

	<div class="row">
		<div class="col-sm-3 col-sm-offset-1 text-center">
			<div class="featurette-item">
				<i class="fa fa-code"></i>
				<h4>Software</h4>
				<p>Up-up-and-away with this starter template.</p>
			</div>
		</div>
		<div class="col-sm-3 col-sm-offset-1 text-center">
			<div class="featurette-item">
				<i class="fa fa-cogs"></i>
				<h4>Hardware</h4>
				<p>Up-up-and-away with this starter template.</p>
			</div>
		</div>
		<div class="col-sm-3 col-sm-offset-1 text-center">
			<div class="featurette-item">
				<i class="fa fa-heartbeat"></i>
				<h4>Health</h4>
				<p>Up-up-and-away with this starter template.</p>
			</div>
		</div>
	</div>
</div>
